<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">
  <div class="container">
    <div class="section-title">
      <h2>F.A.Q</h2>
      <h3>Frequently Asked <span>Questions</span></h3>
    </div>

    <ul class="faq-list">
      <li>
        <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">
          How long will it take to complete a project?
          <i class="bi bi-chevron-down icon-show"></i
          ><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
          <p>
            The timeline for completing the project can vary depending on
            factors such as project complexity, scope, and revisions. After
            discussing your requirements in detail, I'll provide you with an
            estimated timeline to ensure we meet your deadlines.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">
          What is your design process like?
          <i class="bi bi-chevron-down icon-show"></i
          ><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq2" class="collapse" data-bs-parent=".faq-list">
          <p>
            My design process typically involves several stages, including
            research, concept development, design iterations, and finalization.
            I'll work closely with you to understand your vision and provide
            regular updates throughout the process to ensure we're aligned every
            step of the way.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">
          Do you offer revisions?<i class="bi bi-chevron-down icon-show"></i
          ><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq3" class="collapse" data-bs-parent=".faq-list">
          <p>
            Yes, I understand the importance of revisions in the design process.
            I typically include a certain number of revisions in my proposal to
            ensure we can fine-tune the design until it meets your satisfaction.
            Additional revisions can be accommodated as needed.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">
          What file formats will the final designs be delivered in?
          <i class="bi bi-chevron-down icon-show"></i
          ><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq4" class="collapse" data-bs-parent=".faq-list">
          <p>
            I'll provide the final designs in the file formats you specify,
            ensuring compatibility with your intended use. Common file formats
            include JPEG, PNG, PDF, and vector formats such as AI or SVG.
          </p>
        </div>
      </li>

      <li>
        <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">
          How do you handle feedback and changes during the design process?
          <i class="bi bi-chevron-down icon-show"></i
          ><i class="bi bi-chevron-up icon-close"></i>
        </div>
        <div id="faq6" class="collapse" data-bs-parent=".faq-list">
          <p>
            Your feedback is crucial to the success of the project. I welcome
            your input and will make any necessary adjustments to ensure the
            design meets your expectations. Communication is key, and I'll be
            available to address any questions or concerns you may have
            throughout the process.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- End F.A.Q Section -->
